
<h1>Item you added is</h1>

  <% @user.each do |post| %>
    <% if post.uniqueid == @uniqueid %>
         <div>  name : <%= post.name %></div>
         <div>  product : <%= post.product %></div>
         <div>  price :<%= post.price %></div>
         <div>  description : <%= post.description %></div>
          <div>  sizes : <%= post.sizes %></div>
        <img src="<%=post.image_url %>" height="300px" width="300px">
        <div>   Party wear : <%= post.collection1 %></div>
        <div>   Street : <%= post.collection2 %></div>
        <div>   Work :<%= post.collection3 %></div>
        <div>   Casual :<%= post.collection4 %></div>
     <% end %>
  <% end %>

<a href="/item/index">Add items</a>
<br>
<a href="/item/delete?id=<%=@uniqueid%>">Delete this item</a>
<br>
