<!DOCTYPE html>
<html>
<body>

<h1 style="text-align:center;"> ADD new Item </h1>
<form action="/item/add" method="post" enctype="multipart/form-data">

    name: <input type="text" name="name" required>
    <br>
    product:   <select name="product">
                <option value="shirt">shirt</option>
                <option value="tshirt">t-shirt</option>
                <option value="denim">denim</option>
                <option value="trouser">trouser</option>
                <option value="sweatshrit">sweatshrit</option>
                <option value="boxers">boxers</option>
                <option value="shorts">shorts</option>
                <option value="joggers">joggers</option>
                <option value="jackets">jackets</option>
              </select>
    <br>
    price: <input type="text" name="price" required>
    <br>
    description: <textarea rows="4" cols="50" name="desc"></textarea>
    <br>
    sizes:  <input type="text" name="sizes" required>
    <br>
    image_url:<input type="file" name="imageurl" id="pic" required>
    <br>
    Party wear: 	     <select name="collection1">
                        <option value="no">No</option>
                        <option value="yes">Yes</option>
                      </select>
    <br>
    work: 	         <select name="collection2">
                        <option value="no">No</option>
                        <option value="yes">Yes</option>
                      </select>
    <br>
    street: 	       <select name="collection3">
                        <option value="no">No</option>
                        <option value="yes">Yes</option>
                      </select>
    <br>
    casual: 	       <select name="collection4">
                        <option value="no">No</option>
                        <option value="yes">Yes</option>
                     </select>
    <br>
  <input type="submit">
</form>

<a href="/item/showall">showall</a>
<br>

</body>
</html>
