<sty

<h1>Item you added is</h1>

  <% @user.each do |post| %>
       <span>  name : <%= post.name %></span> ||
       <span>  product : <%= post.product %></span> ||
       <span>  sizes : <%= post.sizes %></span> ||
       <img src="<%=post.image_url %>" height="100px" width="100px">
       <a href="/item/delete?id=<%=post.uniqueid%>">Delete this item</a>
       <br>
  <% end %>

<a href="/item/index">Add items</a>
<br>
<br>
