<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Watches an E-Commerce online Shopping Category Flat Bootstrap Responsive Website Template| Contact :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Watches Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
</head>
<body>
	<div class="men_banner">
   	  <div class="container">
   	  	<div class="header_top">
   	  	   <div class="header_top_left">
	  	      <div class="box_11"><a href="checkout.html">
		      <h4><p>Cart: <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)</p><img src="images/bag.png" alt=""/><div class="clearfix"> </div></h4>
		      </a></div>
	          <p class="empty"><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
	          <div class="clearfix"> </div>
	       </div>
           <div class="header_top_right">
		  	 <div class="lang_list">
				<select tabindex="4" class="dropdown">
					<option value="" class="label" value="">₹ INR</option>
					<option value="1">Dollar</option>
					<option value="2">Euro</option>
				</select>
			 </div>
			 <ul class="header_user_info">
				<%if cookies[:user_name] != ""%>
							  <a class="login" href="/user/myaccount">
				<%else%>
							  <a class="login" href="/user/login">
				<%end%>
				<%unless cookies[:user_name]%>
							  <a class="login" href="/user/login">
				<%end%>
				<i class="user"> </i>
				<%if cookies[:user_name] != ""%>
						<li class="user_desc"><%=cookies[:user_name]%></li>
				<%else%>
						<li class="user_desc">Sign IN</li>
				<%end%>
				<%unless cookies[:user_name]%>
						<li class="user_desc">Sign IN</li>
				<%end%>
			  </a>
			  <div class="clearfix"> </div>
		     </ul>
		    <!-- start search-->
				<div class="search-box">
				   <div id="sb-search" class="sb-search">
					  <form>
						 <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
						 <input class="sb-search-submit" type="submit" value="">
						 <span class="sb-icon-search"> </span>
					  </form>
				    </div>
				 </div>

				   <script>
					 new UISearch( document.getElementById( 'sb-search' ) );
				   </script>
					<!----//search-scripts---->
		            <div class="clearfix"> </div>
			 </div>
		     <div class="clearfix"> </div>
	    </div>
			<div class="header_bottom">
	 	   <div class="logo">
	 		  <h1><a href="index.html"> <img src="/images/indigo/logo_transparent.png">  </a></h1>
	 	   </div>
	    	   <div class="menu">
	 	     <ul class="megamenu skyblue">
           <li><a class="color2" href="#">Shop</a>
             <div class="megapanel opacity_08">
               <div class="row">
                 <div class="col1">
                   <div class="h_nav">
                     <ul>
                       <li><a href="/display/trousers">Trousers</a></li>
                       <li><a href="/display/denim">Denim</a></li>
                       <li><a href="/display/shirt">Shirts</a></li>
                       <li><a href="/display/sweatshrit">Sweatshirts & Hoodies</a></li>
                       <li><a href="/display/tshirt">T-Shirts</a></li>
                       <li><a href="/display/boxers">Boxers</a></li>
                       <li><a href="/display/shorts">Shorts</a></li>
                       <li><a href="/display/joggers">Joggers</a></li>
                     </ul>
                   </div>
                 </div>
                 </div>
               </div>
           </li>

             <li><a class="color4" href="#">Brand</a>
             <div class="megapanel opacity_08">
               <div class="row">
                 <div class="col1">
                   <div class="h_nav">

                     <ul>
                       <li><a href="/display/storelocation">Store Locations</a></li>
                       <li><a href="/display/contact">Contact</a></li>
                     </ul>
                   </div>
                 </div>
                 </div>
               </div>
             </li>
             <div class="clearfix"> </div>
	 			</ul>
	 			</div>
	 	        <div class="clearfix"> </div>
	 	        </div>
	   </div>
   </div>
   <div class="men">
   	 <div class="container">
   	  <div class="grid_1">
	   	  <h1>Contact Info</h1>
	   	  <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum</p>
      </div>
      <div class="grid_4">
      <div class="grid_2 preffix_1">
	      <ul class="iphone">
	      	<i class="phone"> </i>
	      	<li class="phone_desc">Phone : +080 3342 3535 </li>
	      	<div class="clearfix"> </div>
	      </ul>
	      <ul class="iphone">
	      	<i class="flag"> </i>
	        <li class="phone_desc">Website : <a href="mailto:mail@demolink.org">www.futurelifestylefashions.in</a></li>
	      	<div class="clearfix"> </div>
	      </ul>
	  </div>
	  <div class="grid_3">
	      <ul class="iphone">
	      	<i class="msg"> </i>
	        <li class="phone_desc">Email : <a href="mailto:mail@demolink.org">response@indus-league.com</a> </li>
	      	<div class="clearfix"> </div>
	      </ul>
	      <ul class="iphone">
	      	<i class="home"> </i>
	        <li class="phone_desc">Address : No.3, Puttappa Industrial Estate, Mahadevapura Post, Whitefield road, Bengaluru- 560 048. KA, India.  </li>
	      	<div class="clearfix"> </div>
	      </ul>
	  </div>
	  <div class="clearfix"> </div>
	 </div>
	 <div class="contact_form">
	 	<h2>Feedback</h2>
	    <form>
			<div class="col-md-6 to">
             	<input type="text" class="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
			 	<input type="text" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
			 	<input type="text" class="text" value="Subject" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}">
			</div>
			<div class="col-md-6 text">
               <textarea value="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
            </div>
            <div class="clearfix"></div>
            <div class="but__center"><input type="submit" value="Send message"></div>
        </form>
     </div>
    </div>
   </div>
   <div class="map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1943.8090891490378!2d77.6898400757274!3d12.99625579769868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae110ce23e9957%3A0x6b3afe181fc7285c!2sFuture+LifeStyle+Fashions+Limited!5e0!3m2!1sen!2sin!4v1494073625629" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
   </div>
   <div class="footer">
   	 <div class="container">
   	 	<div class="newsletter">
			<h3>Newsletter</h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
			<form>
			  <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
			  <input type="submit" value="SUBSCRIBE">
			</form>
		</div>
   		<div class="cssmenu">
		   <ul>
			<li class="active"><a href="#">Privacy</a></li>
			<li><a href="#">Terms & Conditions</a></li>
			<li><a href="#">Returns</a></li>
			<li><a href="#">Shop</a></li>
			<li><a href="#">About</a></li>
			<li><a href="contact.html">Contact</a></li>
		  </ul>
		</div>
		<ul class="social">
			<li><a href=""> <i class="instagram"> </i> </a></li>
			<li><a href=""><i class="fb"> </i> </a></li>
			<li><a href=""><i class="tw"> </i> </a></li>
	    </ul>
	    <div class="clearfix"></div>
	    <div class="copy">
           <p> &copy; 2017 Indigo Nation. All Rights Reserved. www.futurelifestyle.com | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
	    </div>
   	</div>
   </div>
</body>
</html>
