<!DOCTYPE HTML>
<html>
<head>
<title>Indigo Nation</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Watches Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<style type="text/css">
	.opacity_08  {
		opacity : 0.8 !important;
		text-align : center;
	}

	.opacity_08 .row .col1 {
		text-align: center;
		width: 100% !important;
	}
</style>
</head>
<body>
	<div class="banner banner1">
   	  <div class="container">
   	  	<div class="header_top">
   	  	   <div class="header_top_left">
	  	      <div class="box_11"><a href="">
		      <h4><p>Cart: <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)</p><img src="/images/bag.png" alt=""/><div class="clearfix"> </div></h4>
		      </a></div>
	          <p class="empty"><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
	          <div class="clearfix"> </div>
	       </div>
           <div class="header_top_right">
		  	 <div class="lang_list">

				</select>
			 </div>
			 <ul class="header_user_info">
				<%if cookies[:user_name] != ""%>
							  <a class="login" href="/user/myaccount">
				<%else%>
							  <a class="login" href="/user/login">
				<%end%>
				<%unless cookies[:user_name]%>
							  <a class="login" href="/user/login">
				<%end%>
				<i class="user"> </i>
				<%if cookies[:user_name] != ""%>
						<li class="user_desc"><%=cookies[:user_name]%></li>
				<%else%>
						<li class="user_desc">Sign IN</li>
				<%end%>
				<%unless cookies[:user_name]%>
						<li class="user_desc">Sign IN</li>
				<%end%>
			  </a>
			  <div class="clearfix"> </div>
		     </ul>
		    <!-- start search-->
				<div class="search-box">
				   <div id="sb-search" class="sb-search">
					  <form>
						 <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
						 <input class="sb-search-submit" type="submit" value="">
						 <span class="sb-icon-search"> </span>
					  </form>
				    </div>
				 </div>
				   <script>
					 new UISearch( document.getElementById( 'sb-search' ) );
				   </script>
					<!----//search-scripts---->
		            <div class="clearfix"> </div>
			 </div>
		     <div class="clearfix"> </div>
	  </div>
	  <div class="header_bottom">
	   <div class="logo">
		  <h1><a href="/display/index"> <img src="/images/indigo/logo_transparent.png">  </a></h1>
	   </div>
   	   <div class="menu">
	     <ul class="megamenu skyblue">

			<li><a class="color2" href="#">Shop</a>
				<div class="megapanel opacity_08">
					<div class="row">
						<div class="col1">
							<div class="h_nav">
								<ul>
									<li><a href="/display/trousers">Trousers</a></li>
									<li><a href="/display/denim">Denim</a></li>
									<li><a href="/display/shirt">Shirts</a></li>
									<li><a href="/display/sweatshrit">Sweatshirts & Hoodies</a></li>
									<li><a href="/display/tshirt">T-Shirts</a></li>
									<li><a href="/display/boxers">Boxers</a></li>
									<li><a href="/display/shorts">Shorts</a></li>
									<li><a href="/display/joggers">Joggers</a></li>
								</ul>
							</div>
						</div>
					  </div>
					</div>
			</li>

				<li><a class="color4" href="#">Brand</a>
				<div class="megapanel opacity_08">
					<div class="row">
						<div class="col1">
							<div class="h_nav">

								<ul>
									<li><a href="/display/storelocation">Store Locations</a></li>
									<li><a href="/display/contact">Contact</a></li>
								</ul>
							</div>
						</div>
					  </div>
					</div>
				</li>
				<div class="clearfix"> </div>
			</ul>
			</div>
	        <div class="clearfix"> </div>
	        </div>
	    </div>
   </div>
   <div class="main">
    <div class="container">
    	<ul class="content-home">
           <li class="col-sm-4">
              <a href="" class="item-link" title="">
                <div class="bannerBox">
                   <img src="/images/hl1.jpg" class="item-img" title="" alt="" width="100%" height="100%">
                   <div class="item-html">
                      <h3><span></span></h3>
                      <p></p>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                   </div>
                </div>
              </a>
           </li>
           <li class="col-sm-4">
              <a href="" class="item-link" title="">
                <div class="bannerBox">
                   <img src="/images/hl2.jpg" class="item-img" title="" alt="" width="100%" height="100%">
                   <div class="item-html">
                      <h3><span></span></h3>
                      <p></p>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                   </div>
                </div>
              </a>
           </li>
           <li class="col-sm-4">
              <a href="" class="item-link" title="">
                <div class="bannerBox">
                   <img src="/images/hl3.jpg" class="item-img" title="" alt="" width="100%" height="100%">
                   <div class="item-html">
                      <h3><span></span></h3>
                      <p></p>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>                      
                   </div>
                </div>
              </a>
           </li>
           <div class="clearfix"> </div>
       </ul>
    </div>
    <div class="middle_content">
    	<div class="container">
    		 <h1> INDIGO NATION </h1>
    		<p>"INDIGO NATION" Has Always Been The Cult Brand For The Young And The Restless, Delivering Fast Fashion To The Young Indian Dude Who Forever Aspires To Be In. Indigo Nation Caters To The Country's Youth, Who Believe In Engineering Change Rather Than Merely Embracing It. It's For The Dude Of Dudes For Whom Everything Is Subject To Change Girlfriend, Cocktails, Jobs, Wardrobes Everything. Who Steals The Show, Whether In Office Or On The Dance Floor, Who Stands Out For The Hot Chicks And Blends In For Their Boyfriends, Who Is A loose Cannon A Live Wire And A Maverick Who Lives In The Moments And Changes By The Moment. Indigo Nation Dude's Stance Is Always "SUBJECT TO CHANGE".</p>
    	</div>
    </div>
   	<div class="content_middle_bottom">
   		<div class="header-left" id="home">
		      <section>
				<ul class="lb-album" >
					<li>
						<a href="#image-1">
							<img src="/images/n1.jpg"   alt="image01"/>
							<span>Cafe</span>
						</a>
						<div class="lb-overlay" id="image-1">
							<a href="#page" class="lb-close">x Close</a>
							<img src="/images/n1.jpg"   alt="image01"/>
							<div>
								<h3>Cafe <span>/point/</span></h3>
								<p>Collection Inspired By Cafe Culture, For Those Who Wants To Chill Or Hangout</p>
							</div>
						</div>
					</li>
					<li>
						<a href="#image-2">
							<img src="/images/n2.jpg"   alt="image02"/>
							<span>Foosball</span>
						</a>
						<div class="lb-overlay" id="image-2">
							<img src="/images/n2.jpg"  alt="image02"/>
							<div>
								<h3>foosball <span>/ˌpôr də ˈbrä/</span></h3>
								<p>The Quick Leap From Marks Sheet To Balance Sheet. #Startup Nation.</p>
							</div>
							<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
					<li>
						<a href="#image-3">
							<img src="/images/n3.jpg"   alt="image03"/>
							<span>Home-Office</span>
						</a>
						<div class="lb-overlay" id="image-3">
							<img src="/images/n3.jpg" alt="image03"/>
							<div>
								<h3>Home Office<span>/plēˈā/</span></h3>
								<p>No Office Politics. No Office, Actually. #Startup Nation.</p>
							</div>
							<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
					<li>
						<a href="#image-4">
							<img src="/images/n4.jpg"   alt="image04"/>
							<span>Street</span>
						</a>
						<div class="lb-overlay" id="image-4">
							<img src="/images/n4.jpg"  alt="image04"/>
							<div>
								<h3>Street <span>/əˈdäjō/</span></h3>
								<p>Start A Company. Write A Book About Starting A Company. Earn Both Ways. # Startup Nation.</p>
							</div>
							<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
					<li>
						<a href="#image-5">
							<img src="/images/n5.jpg" alt="image05"/>
							<span>Terracé</span>
						</a>
						<div class="lb-overlay" id="image-5">
							<img src="/images/n5.jpg"  alt="image05"/>
							<div>
								<h3>Terracé<span>/fraˈpā/</span></h3>
								<p>Zero Office Commute. #Startup Nation.</p>
							</div>
							<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
					<li>
						<a href="#image-6">
							<img src="/images/n6.jpg"  alt="image06"/>
							<span>Glissade</span>
						</a>
						<div class="lb-overlay" id="image-6">
							<img src="/images/n6.jpg"  alt="image06"/>
							<div>
								<h3>glis·sade <span>/gliˈsäd/</span></h3>
								<p>One leg is brushed outward from the body, which then takes the weight while the second leg is brushed in to meet it</p>
							</div>
							<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
					<li>
						<a href="#image-7">
							<img src="/images/n7.jpg"  alt="image07"/>
							<span>Jeté</span>
						</a>
						<div class="lb-overlay" id="image-7">
							<img src="/images/n7.jpg"  alt="image07"/>
							<div>
								<h3>je·té <span>/zhə-ˈtā/</span></h3>
								<p>A springing jump made from one foot to the other in any direction</p>
							</div>
							<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
					<li>
						<a href="#image-8">
							<img src="/images/n8.jpg"   alt="image08"/>
							<span>Piqué</span>
						</a>
						<div class="lb-overlay" id="image-8">
							<img src="/images/n8.jpg"  alt="image08"/>
							<div>
								<h3>pi·qué <span>/pēˈkā/</span></h3>
								<p>Strongly pointed toe of the lifted and extended leg sharply lowers to hit the floor then immediately rebounds upward</p>
							</div>
							<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
					<div class="clearfix"></div>
				</ul>
			</section>
		</div>
	  </div>
   </div>
   <div class="footer">
   	 <div class="container">
   	 	<div class="newsletter">
			<h3>Newsletter</h3>
			<p>Startup Nation No Shave Movember</p>
			<form>
			  <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
			  <input type="submit" value="SUBSCRIBE">
			</form>
		</div>
   		<div class="cssmenu">
		   <ul>
			<li class="active"><a href="#">Privacy</a></li>
			<li><a href="#">Terms & Conditions</a></li>
			<li><a href="#">Returns</a></li>
			<li><a href="#">Shop</a></li>
			<li><a href="#">About</a></li>
			<li><a href="">Contact</a></li>
		  </ul>
		</div>
		<ul class="social">
			<li><a href="https://www.instagram.com/indigonationhandle/" target="_blank" > <i class="instagram"> </i> </a></li>
			<li><a href="https://www.facebook.com/indigonationpage/" target="_blank" ><i class="fb"> </i> </a></li>
			<li><a href="https://twitter.com/IndigoNation_IN?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank" ><i class="tw"> </i> </a></li>
	    </ul>
	    <div class="clearfix"></div>
	    <div class="copy">
           <p> &copy; 2017 Indigo Nation. All Rights Reserved. www.futurelifestylefashions.com
	    </div>
   	</div>
   </div>
</body>
</html>
