<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Indigo Nation</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Watches Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
		    <script type="text/javascript">
			    $(document).ready(function () {
			        $('#horizontalTab').easyResponsiveTabs({
			            type: 'default', //Types: default, vertical, accordion
			            width: 'auto', //auto or any width like 600px
			            fit: true   // 100% fit in a container
			        });
			    });
            </script>
</head>
<body>
	<div class="men_banner">
   	  <div class="container">
   	  	<div class="header_top">
   	  	   <div class="header_top_left">
	  	      <div class="box_11"><a href="checkout.html">
		      <h4><p>Cart: <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)</p><img src="images/bag.png" alt=""/><div class="clearfix"> </div></h4>
		      </a></div>
	          <p class="empty"><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
	          <div class="clearfix"> </div>
	       </div>
           <div class="header_top_right">
		  	 <div class="lang_list">
				<select tabindex="4" class="dropdown">
					<option value="" class="label" value="">₹ INR</option>
					<option value="1">Dollar</option>
					<option value="2">Euro</option>
				</select>
			 </div>
			 <ul class="header_user_info">
				<%if cookies[:user_name] != ""%>
							  <a class="login" href="/user/myaccount">
				<%else%>
							  <a class="login" href="/user/login">
				<%end%>
				<%unless cookies[:user_name]%>
							  <a class="login" href="/user/login">
				<%end%>
				<i class="user"> </i>
				<%if cookies[:user_name] != ""%>
						<li class="user_desc"><%=cookies[:user_name]%></li>
				<%else%>
						<li class="user_desc">Sign IN</li>
				<%end%>
				<%unless cookies[:user_name]%>
						<li class="user_desc">Sign IN</li>
				<%end%>
			  </a>
			  <div class="clearfix"> </div>
		     </ul>
		    <!-- start search-->
				<div class="search-box">
				   <div id="sb-search" class="sb-search">
					  <form>
						 <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
						 <input class="sb-search-submit" type="submit" value="">
						 <span class="sb-icon-search"> </span>
					  </form>
				    </div>
				 </div>
				   <script>
					 new UISearch( document.getElementById( 'sb-search' ) );
				   </script>
					<!----//search-scripts---->
		            <div class="clearfix"> </div>
			 </div>
		     <div class="clearfix"> </div>
	    </div>
   		<div class="header_bottom">
	   <div class="logo">
		  <h1><a href="/display/index"><img src="/images/indigo/logo_transparent.png">  </a></h1>
	   </div>
	   <div class="menu">
	     <ul class="megamenu skyblue">

			<li><a class="color2" href="#">Shop</a>
				<div class="megapanel opacity_08">
					<div class="row">
						<div class="col1">
							<div class="h_nav">
								<ul>
                  <li><a href="/display/trousers">Trousers</a></li>
									<li><a href="/display/denim">Denim</a></li>
									<li><a href="/display/shirt">Shirts</a></li>
									<li><a href="/display/sweatshrit">Sweatshirts & Hoodies</a></li>
									<li><a href="/display/tshirt">T-Shirts</a></li>
									<li><a href="/display/boxers">Boxers</a></li>
									<li><a href="/display/shorts">Shorts</a></li>
									<li><a href="/display/joggers">Joggers</a></li>
								</ul>
							</div>
						</div>
					  </div>
					</div>
			</li>

				<li><a class="color4" href="#">Brand</a>
				<div class="megapanel opacity_08">
					<div class="row">
						<div class="col1">
							<div class="h_nav">

								<ul>
									<li><a href="/display/storelocation">Store Locations</a></li>
									<li><a href="/display/contact">Contact</a></li>
								</ul>
							</div>
						</div>
					  </div>
					</div>
				</li>
				<div class="clearfix"> </div>
			</ul>
			</div>
	        <div class="clearfix"> </div>
	        </div>
	    </div>
   </div>
   <div class="men">
   	<div class="container">
      <div class="col-md-9 single_top">
      	<div class="single_left">
      	  <div class="labout span_1_of_a1">
							<img src="<%=@user[0].image_url%>" height="300px" width="240px"/>
		          <div class="clearfix"></div>
	    </div>
		<div class="cont1 span_2_of_a1 simpleCart_shelfItem">
				<h1><%=@user[0].name%></h1>
				<p class="availability">Availability: <span class="color">In stock</span></p>
			    <div class="price_single">
				  <span class="amount item_price actual"><%=@user[0].price%></span>
				</div>

				<h2 class="sizes">Sizes:</h2>
				<p class="sizes_desc"> <%=@user[0].sizes%></p>

				<br><br>

				<h2 class="quick">Quick Overview:</h2>
				<p class="quick_desc"> <%=@user[0].description%></p>

				<div class="quantity_box">
				    <ul class="single_social">
						<li><a href="https://www.facebook.com/indigonationpage/"><i class="fb1"> </i> </a></li>
						<li><a href="https://twitter.com/IndigoNation_IN?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="tw1"> </i> </a></li>
						<li><a href="#"><i class="g1"> </i> </a></li>
		   		    </ul>
		   		    <div class="clearfix"></div>
	   		    </div>
			</div>
		    <div class="clearfix"> </div>
		</div>
        <div class="sap_tabs">
	       <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
			  <ul class="resp-tabs-list">
			  	  <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"></li>
			  </ul>
			  <div class="resp-tabs-container">
			    <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
					<div class="facts">
					  <ul class="tab_list">
					  	<li><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat</a></li>
					  	<li><a href="#">augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigatione</a></li>
					  	<li><a href="#">claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica</a></li>
					  	<li><a href="#">Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</a></li>
					  </ul>
			        </div>
			     </div>
			      <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
					<div class="facts">
					  <ul class="tab_list">
					    <li><a href="#">augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigatione</a></li>
					  	<li><a href="#">claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica</a></li>
					  	<li><a href="#">Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</a></li>
					  </ul>
			        </div>
			     </div>

			  </div>
		    </div>
		  </div>
		</div>

		<br>
		<div class="add_to_kart col-md-12">
			<h3>Add to Kart:</h3>
			<br>
			<form action="/kart/add" method="post" enctype="multipart/form-data">
						<input type="text" value="<%=@itemid%>" style="display:none;" name="itemid"></input>
						<input type="text" value="<%=@user[0].name%>" style="display:none;" name="itemname"></input>
						<input type="text" value="<%=@user[0].image_url%>" style="display:none;" name="itemimgurl"></input>
						select size: <select id="item_size_selected" name="size">
												 </select>
													<br>
						<script>
								var values = $(".sizes_desc")[0].innerHTML.split(",");
								if (values.length > 0){
									for (var i=0;i<values.length;i++){
											var $option = $("<option>", {text: values[i], "value": values[i]});
											$("#item_size_selected").append($option);
									}
								}
						</script>
						quantity: <select id="item_quantity_selected" name="quantity">
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
											 </select>
						<br>
					 <input class="btn btn-warning" type="submit">
			</form>
		</div>
     <div class="clearfix"> </div>
	</div>
   </div>
  <div class="footer">
   	 <div class="container">
   	 	<div class="newsletter">
			<h3>Newsletter</h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
			<form>
			  <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
			  <input type="submit" value="SUBSCRIBE">
			</form>
		</div>
   		<div class="cssmenu">
		   <ul>
			<li class="active"><a href="#">Privacy</a></li>
			<li><a href="#">Terms & Conditions</a></li>
			<li><a href="#">Returns</a></li>
			<li><a href="#">Shop</a></li>
			<li><a href="#">About</a></li>
			<li><a href="contact.html">Contact</a></li>
		  </ul>
		</div>
		<ul class="social">
			<li><a href=""> <i class="instagram"> </i> </a></li>
			<li><a href=""><i class="fb"> </i> </a></li>
			<li><a href=""><i class="tw"> </i> </a></li>
	    </ul>
	    <div class="clearfix"></div>
	    <div class="copy">
           <p> &copy; 2017 Indigo Nation. All Rights Reserved. www.futurelifestylefashions.com
	    </div>
   	</div>
   </div>
<!-- FlexSlider -->
<script>
// Can also be used with $(document).ready()
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    controlNav: "thumbnails"
  });
});
</script>
</body>
</html>
