<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Indigo Nation</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Watches Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<link href="css/component.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--webfont-->
<link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Dorsa' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<!-- start menu -->
<link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/megamenu.js"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<script src="js/jquery.easydropdown.js"></script>
<script src="js/simpleCart.min.js"> </script>
</head>
<body>
	<div class="men_banner">
   	  <div class="container">
   	  	<div class="header_top">
   	  	   <div class="header_top_left">
	  	      <div class="box_11"><a href="checkout.html">
		      <h4><p>Cart: <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)</p><img src="images/bag.png" alt=""/><div class="clearfix"> </div></h4>
		      </a></div>
	          <p class="empty"><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
	          <div class="clearfix"> </div>
	       </div>
           <div class="header_top_right">
		  	 <div class="lang_list">
				<select tabindex="4" class="dropdown">
					<option value="" class="label" value="">₹ INR</option>
					<option value="1">Dollar</option>
					<option value="2">Euro</option>
				</select>
			 </div>
			 <ul class="header_user_info">
				<%if cookies[:user_name] != ""%>
							  <a class="login" href="/user/myaccount">
				<%else%>
							  <a class="login" href="/user/login">
				<%end%>
				<%unless cookies[:user_name]%>
							  <a class="login" href="/user/login">
				<%end%>
				<i class="user"> </i>
				<%if cookies[:user_name] != ""%>
						<li class="user_desc"><%=cookies[:user_name]%></li>
				<%else%>
						<li class="user_desc">Sign IN</li>
				<%end%>
				<%unless cookies[:user_name]%>
						<li class="user_desc">Sign IN</li>
				<%end%>
			  </a>
			  <div class="clearfix"> </div>
		     </ul>
		    <!-- start search-->
				<div class="search-box">
				   <div id="sb-search" class="sb-search">
					  <form>
						 <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
						 <input class="sb-search-submit" type="submit" value="">
						 <span class="sb-icon-search"> </span>
					  </form>
				    </div>
				 </div>
				 <!----search-scripts---->
				 <script src="js/classie1.js"></script>
				 <script src="js/uisearch.js"></script>
				   <script>
					 new UISearch( document.getElementById( 'sb-search' ) );
				   </script>
					<!----//search-scripts---->
		            <div class="clearfix"> </div>
			 </div>
		     <div class="clearfix"> </div>
	    </div>
   	  <div class="header_bottom">
	   <div class="logo">
		  <h1><a href="index.html"><img src="/images/indigo/logo_transparent.png">  </a></h1>
	   </div>


   	   <div class="menu">
	     <ul class="megamenu skyblue">
         <li><a class="color2" href="#">Shop</a>
           <div class="megapanel opacity_08">
             <div class="row">
               <div class="col1">
                 <div class="h_nav">
                   <ul>
                     <li><a href="/display/trousers">Trousers</a></li>
                     <li><a href="/display/denim">Denim</a></li>
                     <li><a href="/display/shirt">Shirts</a></li>
                     <li><a href="/display/sweatshrit">Sweatshirts & Hoodies</a></li>
                     <li><a href="/display/tshirt">T-Shirts</a></li>
                     <li><a href="/display/boxers">Boxers</a></li>
                     <li><a href="/display/shorts">Shorts</a></li>
                     <li><a href="/display/joggers">Joggers</a></li>
                   </ul>
                 </div>
               </div>
               </div>
             </div>
         </li>

           <li><a class="color4" href="#">Brand</a>
           <div class="megapanel opacity_08">
             <div class="row">
               <div class="col1">
                 <div class="h_nav">

                   <ul>
                     <li><a href="/display/storelocation">Store Locations</a></li>
                     <li><a href="/display/contact">Contact</a></li>
                   </ul>
                 </div>
               </div>
               </div>
             </div>
           </li>
           <div class="clearfix"> </div>
			</ul>
			</div>

	        <div class="clearfix"> </div>
	    </div>
	  </div>
   </div>
   <div class="men">
    <div class="container-fluid">

    	<div class="col-md-12 mens_right">
    		<div class="dreamcrub">
			   	<ul class="breadcrumbs">
                    <li class="home">
                       <a href="index.html" title="Go to Home Page">Home</a>&nbsp;
                       <span>&gt;</span>
                    </li>
                    <li class="home">&nbsp;
                        Brand > Store Locations &nbsp;
                    </li>
                </ul>
                <ul class="previous">
                	<li><a href="index.html">Back to Previous Page</a></li>
                </ul>
                <div class="clearfix"></div>
			   </div>
			   <div class="mens-toolbar">
                 <div class="sort">
               	   <div class="sort-by">
                   </div>
    		     </div>
    	        <ul class="women_pagenation dc_paginationA dc_paginationA06">
			     <li><a href="#" class="previous">Page : </a></li>
			     <li class="active"><a href="#">1</a></li>
			     <li><a href="#">2</a></li>
		  	    </ul>
                <div class="clearfix"></div>
		        </div>


               </div>
       	   </div>
       	   <br>
       	   <br>

<div class="row">
	<div class="col-sm-4">
		1) INFOSYS Store<br>
		 Bengaluru, INFOSYS STORE<br>
		 080-28523692<br>
		 infosys.blr@ilclindia.in
	</div>

	<div class="col-sm-4">
		2) BANGALORE-BRIGADE ROAD<br>
			 Brigade Road<br>
			 080-41169926<br>
			 scullersblr@scullers.com<br>
	</div>

	<div class="col-sm-4">
		3) MYSORE-INFOSYS MYSORE<br>
			 INFOSYS STORE<br>
			 MYSORE<br>
			 0821-2404188<br>
			 infy.mysore@ilclindia.in<br>
	</div>
</div>


<br>
<br>

<div class="row">
	<div class="col-sm-4">
		       	   	  4) BANGALORE-JL-BINNAMA<br>
		       	   	  	 CMH ROAD, INDIRA NAGAR<br>
		       	   	  	 080-41113765<br>
		       	   	  	 cmh-rd@jealousjeans.net<br>
	</div>

	<div class="col-sm-4">
	       	   	  5) BANGALORE-IN-INDIRANAR<br>
	       	   	     100 FT ROAD INDIRA NAGAR<br>
	       	   	     080-40953778<br>
	       	   	     in-indranagar@indigonation.com<br>
	</div>
	<div class="col-sm-4">
	       	   	  6) GANGAVATHI-KARNATAKA<br>
	       	   	  	 OSB ROAD, OPP KARUR VYSYA BANK<br>
	       	   	  	 GANGAVATI<br>
	       	   	  	 0853-3234258<br>
	       	   	  	 srisai.gangavathi@gmail.com<br>
	</div>

</div>


<br>
<br>

<div class="row">
	<div class="col-sm-4">
	       	   	  7) BANGALORE-JM-INDIRANAGAR<br>
	       	   	     100 FT ROAD INDIRA NAGAR<br>
	       	   	     BANGALORE<br>
	       	   	     080-40968285<br>
	       	   	     indiranagar@ilclindia.in<br>
	</div>
	<div class="col-sm-4">
	       	   	  8) BENGALURU-PHOENIX MALL-MOHR<br>
	       	   	     PHOENIX MARKET CITY MALL, LOWER GROUND FLOOR<br>
	       	   	     BANGALORE<br>
	       	   	     080-67266568<br>
	       	   	     mohr.pmc@ilclindia.in<br>
	</div>
	<div class="col-sm-4">
	       	   	  9) MANGALORE-FORUM MALL-IN/SC<br>
	       	   	     THE FORUM FIZA MALL, 1ST FLOOR<br>
	       	   	     MANGALORE<br>
	       	   	     0824-2498081<br>
	       	   	     sc.forum.mlore@scullers.com<br>
	</div>

</div>


<br>
<br>

<div class="row">
	<div class="col-sm-4">
	       	   	 10) BENGALURU-INORBIT MALL-HQ<br>
	       	   	     INORBIT MALL, WHITEFIELD - LG FLOOR<br>
	       	   	     BANGALORE<br>
	       	   	     080-28029572<br>
	       	   	     hq.inorbit.blr@ilclindia.in<br>
	</div>
	<div class="col-sm-4">
	       	   	 11) CALICUT-PENTA CORP<br>
	       	   	 	 HASNA BUILDING, MAVOOR ROAD<br>
	       	   	 	 CALICUT<br>
	       	   	 	 0495-4060213<br>
	       	   	 	 pentaleague@ilclindia.in<br>
	</div>
	<div class="col-sm-4">
	       	   	 12) HYDERABAD-PRASAD MALL HYD<br>
	       	   	 	 PRASAD MALL, GROUND FLOOR<br>
	       	   	 	 HYDERABAD<br>
	       	   	 	 40-32599706<br>
	       	   	 	 prasadmall@ilclindia.in<br>
	</div>
</div>

<br>
<br>

<div class="row">
	<div class="col-sm-4">
	       	   	 13) COIMBATORE-SPARKLE<br>
	       	   	 	 90 DB ROAD<br>
	       	   	 	 COIMBATORE<br>
	       	   	 	 0422-4368239<br>
	       	   	 	 ilclspkl@indigonation.com<br>
	</div>
	<div class="col-sm-4">
	       	   	 14) COIMBATORE-DB ROAD<br>
	       	   	 	 D B ROAD, R.S. PURAM<br>
	       	   	 	 COIMBATORE<br>
	       	   	 	 0422-4518401<br>
	       	   	 	 coimbatore@john-miller.co.in<br>
	</div>
	<div class="col-sm-4">
	       	   	 15) CALICUT-IN-FOCUS MALL<br>
	       	   	 	 FOCUS MALL, 1ST FLOOR<br>
	       	   	 	 CALICUT<br>
	       	   	 	 0495-4013569<br>
	       	   	 	 focusmall@indigonation.com<br>
	</div>

</div>


































































				</div>
				<script src="js/cbpViewModeSwitch.js" type="text/javascript"></script>
                <script src="js/classie.js" type="text/javascript"></script>
    	</div>
    </div>
   </div>
   <div class="footer">
   	 <div class="container">
   	 	<div class="newsletter">
			<h3>Newsletter</h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
			<form>
			  <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
			  <input type="submit" value="SUBSCRIBE">
			</form>
		</div>
   		<div class="cssmenu">
		   <ul>
			<li class="active"><a href="#">Privacy</a></li>
			<li><a href="#">Terms & Conditions</a></li>
			<li><a href="#">Returns</a></li>
			<li><a href="#">Shop</a></li>
			<li><a href="#">About</a></li>
			<li><a href="contact.html">Contact</a></li>
		  </ul>
		</div>
		<ul class="social">
			<li><a href=""> <i class="instagram"> </i> </a></li>
			<li><a href=""><i class="fb"> </i> </a></li>
			<li><a href=""><i class="tw"> </i> </a></li>
	    </ul>
	    <div class="clearfix"></div>
	    <div class="copy">
           <p> &copy; 2017 Indigo Nation. All Rights Reserved. www.futurelifestyle.com
	    </div>
   	</div>
   </div>
</body>
</html>
