<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Indigo Nation</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Watches Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
</head>
<body>
	<div class="men_banner">
   	  <div class="container">
   	  	<div class="header_top">
   	  	   <div class="header_top_left">
	  	      <div class="box_11"><a href="checkout.html">
		      <h4><p>Cart: <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)</p><img src="/images/bag.png" alt=""/><div class="clearfix"> </div></h4>
		      </a></div>
	          <p class="empty"><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
	          <div class="clearfix"> </div>
	       </div>
           <div class="header_top_right">
		  	 <div class="lang_list">
				<select tabindex="4" class="dropdown">
					<option value="" class="label" value="">₹ INR</option>
					<option value="1">Dollar</option>
					<option value="2">Euro</option>
				</select>
			 </div>
			 <ul class="header_user_info">
				<%if cookies[:user_name] != ""%>
							  <a class="login" href="/user/myaccount">
				<%else%>
							  <a class="login" href="/user/login">
				<%end%>
				<%unless cookies[:user_name]%>
							  <a class="login" href="/user/login">
				<%end%>
				<i class="user"> </i>
				<%if cookies[:user_name] != ""%>
						<li class="user_desc"><%=cookies[:user_name]%></li>
				<%else%>
						<li class="user_desc">Sign IN</li>
				<%end%>
				<%unless cookies[:user_name]%>
						<li class="user_desc">Sign IN</li>
				<%end%>
			  </a>
			  <div class="clearfix"> </div>
		     </ul>
		    <!-- start search-->
				<div class="search-box">
				   <div id="sb-search" class="sb-search">
					  <form>
						 <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
						 <input class="sb-search-submit" type="submit" value="">
						 <span class="sb-icon-search"> </span>
					  </form>
				    </div>
				 </div>

				   <script>
					 new UISearch( document.getElementById( 'sb-search' ) );
				   </script>
					<!----//search-scripts---->
		            <div class="clearfix"> </div>
			 </div>
		     <div class="clearfix"> </div>
	    </div>
   	  <div class="header_bottom">
	   <div class="logo">
		  <h1><a href="index.html"><img src="/images/indigo/logo_transparent.png"></a></h1>
	   </div>


   	   <div class="menu">
	     <ul class="megamenu skyblue">

			<li><a class="color2" href="#">Shop</a>
				<div class="megapanel opacity_08">
					<div class="row">
						<div class="col1">
							<div class="h_nav">
								<ul>

									<li><a href="Trousers.html">Trousers</a></li>
									<li><a href="Denim.html">Denim</a></li>
									<li><a href="Shirts.html">Shirts</a></li>
									<li><a href="men.html">Sweatshirts & Hoodies</a></li>
									<li><a href="Tshirt.html">T-Shirts</a></li>
									<li><a href="men.html">Boxers</a></li>
									<li><a href="men.html">Shorts</a></li>
									<li><a href="men.html">Joggers</a></li>
									<li><a href="men.html">Jackets</a></li>
								</ul>
							</div>
						</div>
					  </div>
					</div>
			</li>


			<li><a class="color4" href="#">Collections</a>
				<div class="megapanel opacity_08">
					<div class="row">
						<div class="col1">
							<div class="h_nav">

								<ul>
									<li><a href="men.html">Casuals</a></li>
									<li><a href="men.html">Street</a></li>
									<li><a href="men.html">Workwear</a></li>
									<li><a href="men.html">Partywear</a></li>

								</ul>
							</div>
						</div>
					  </div>
					</div>
				</li>

			<li><a class="color5" href="#">Seasons</a>
				<div class="megapanel opacity_08">
					<div class="row">
						<div class="col1">
							<div class="h_nav">

								<ul>
									<li><a href="men.html">Spring Summer 17</a></li>
									<li><a href="men.html">Autumn Winter 17</a></li>


								</ul>
							</div>
						</div>
					  </div>
					</div>
				</li>

				<li><a class="color4" href="#">Brand</a>
				<div class="megapanel opacity_08">
					<div class="row">
						<div class="col1">
							<div class="h_nav">

								<ul>
									<li><a href="Store Locations.html">Store Locations</a></li>
									<li><a href="men.html">News</a></li>
									<li><a href="men.html">Blog</a></li>
									<li><a href="men.html">LookBook</a></li>

								</ul>
							</div>
						</div>
					  </div>
					</div>
				</li>
				<div class="clearfix"> </div>
			</ul>
			</div>

	        <div class="clearfix"> </div>
	    </div>
	  </div>
   </div>
   <div class="men">
    <div class="container-fluid">

    	<div class="col-md-12 mens_right">
    		<div class="dreamcrub">
			   	<ul class="breadcrumbs">
                    <li class="home">
                       <a href="index.html" title="Go to Home Page">Home</a>&nbsp;
                       <span>&gt;</span>
                    </li>
                    <li class="home">&nbsp;
                        Brand > Store Locations &nbsp;
                    </li>
                </ul>
                <ul class="previous">
                	<li><a href="index.html">Back to Previous Page</a></li>
                </ul>
                <div class="clearfix"></div>
			   </div>

       	   </div>
       	   <br>
       	   <br>
       	   <br>



<div class="content_middle_bottom">
   		<div class="header-left" id="home">
		      <section>
				<ul class="lb-album" >
					<li>
						<a href="#image-1">
							<img src="/images/tbrand.jpg"  class="img-responsive" alt="image01"/>
							<span>Cafe</span>
						</a>
						<div class="lb-overlay" id="image-1">
							<a href="#page" class="lb-close">x Close</a>
							<img src="/images/tbrand.jpg"  class="img-responsive" alt="image01"/>
							<div>
								<h3>Cafe <span>/point/</span></h3>
								<p>Collection Inspired By Cafe Culture, For Those Who Wants To Chill Or Hangout</p>
							</div>
						</div>
					</li>
					<li>
					<li>
						<a href="#image-2">
							<img src="/images/tbrand1.jpg"  class="img-responsive" alt="image02"/>
							<span>Foosball</span>
						</a>
						<div class="lb-overlay" id="image-2">
							<img src="/images/tbrand1.jpg"  class="img-responsive" alt="image02"/>
							<div>
								<h3>foosball <span>/ˌpôr də ˈbrä/</span></h3>
								<p>The Quick Leap From Marks Sheet To Balance Sheet. #Startup Nation.</p>
							</div>
							<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>










				</div>

    	</div>
    </div>
   </div>
   <div class="footer">
   	 <div class="container">
   	 	<div class="newsletter">
			<h3>Newsletter</h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
			<form>
			  <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
			  <input type="submit" value="SUBSCRIBE">
			</form>
		</div>
   		<div class="cssmenu">
		   <ul>
			<li class="active"><a href="#">Privacy</a></li>
			<li><a href="#">Terms & Conditions</a></li>
			<li><a href="#">Returns</a></li>
			<li><a href="#">Shop</a></li>
			<li><a href="#">About</a></li>
			<li><a href="contact.html">Contact</a></li>
		  </ul>
		</div>
		<ul class="social">
			<li><a href=""> <i class="instagram"> </i> </a></li>
			<li><a href=""><i class="fb"> </i> </a></li>
			<li><a href=""><i class="tw"> </i> </a></li>
	    </ul>
	    <div class="clearfix"></div>
	    <div class="copy">
           <p> &copy; 2017 Indigo Nation. All Rights Reserved. www.futurelifestyle.com
	    </div>
   	</div>
   </div>
</body>
</html>
