<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Indigo Nation</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Watches Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
</head>
<body>
	<div class="men_banner">
   	  <div class="container">
   	  	<div class="header_top">
   	  	   <div class="header_top_left">
	  	      <div class="box_11"><a href="checkout.html">
		      <h4><p>Cart: <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)</p><img src="images/bag.png" alt=""/><div class="clearfix"> </div></h4>
		      </a></div>
	          <p class="empty"><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
	          <div class="clearfix"> </div>
	       </div>
           <div class="header_top_right">
			 <ul class="header_user_info">
				<%if cookies[:user_name] != ""%>
							  <a class="login" href="/user/myaccount">
				<%else%>
							  <a class="login" href="/user/login">
				<%end%>
				<%unless cookies[:user_name]%>
							  <a class="login" href="/user/login">
				<%end%>
				<i class="user"> </i>
				<%if cookies[:user_name] != ""%>
						<li class="user_desc"><%=cookies[:user_name]%></li>
				<%else%>
						<li class="user_desc">Sign IN</li>
				<%end%>
				<%unless cookies[:user_name]%>
						<li class="user_desc">Sign IN</li>
				<%end%>
			  </a>
			  <div class="clearfix"> </div>
		     </ul>
		    <!-- start search-->
				<div class="search-box">
				   <div id="sb-search" class="sb-search">
					  <form>
						 <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
						 <input class="sb-search-submit" type="submit" value="">
						 <span class="sb-icon-search"> </span>
					  </form>
				    </div>
				 </div>
				   <script>
					 new UISearch( document.getElementById( 'sb-search' ) );
				   </script>
					<!----//search-scripts---->
		            <div class="clearfix"> </div>
			 </div>
		     <div class="clearfix"> </div>
	    </div>
   		<div class="header_bottom">
	     <div class="logo">
		    <h1><a href="/display/index"> <img src="/images/indigo/logo_transparent.png">  </a></h1>
	     </div>
	    <div class="menu">

	     <ul class="megamenu skyblue">

			<li><a class="color2" href="#">Shop</a>
				<div class="megapanel opacity_08">
					<div class="row">
						<div class="col1">
							<div class="h_nav">
								<ul>
									<li><a href="/display/trousers">Trousers</a></li>
									<li><a href="/display/denim">Denim</a></li>
									<li><a href="/display/shirt">Shirts</a></li>
									<li><a href="/display/sweatshrit">Sweatshirts & Hoodies</a></li>
									<li><a href="/display/tshirt">T-Shirts</a></li>
									<li><a href="/display/boxers">Boxers</a></li>
									<li><a href="/display/shorts">Shorts</a></li>
									<li><a href="/display/joggers">Joggers</a></li>
								</ul>
							</div>
						</div>
					  </div>
					</div>
			</li>

				<li><a class="color4" href="#">Brand</a>
				<div class="megapanel opacity_08">
					<div class="row">
						<div class="col1">
							<div class="h_nav">

								<ul>
									<li><a href="/display/storelocation">Store Locations</a></li>
									<li><a href="/display/contact">Contact</a></li>
								</ul>
							</div>
						</div>
					  </div>
					</div>
				</li>
				<div class="clearfix"> </div>
			</ul>

	     	</div>


	        <div class="clearfix"> </div>
	    </div>
	   </div>
   </div>
   <div class="account-in">
   	 <div class="container">
		  <div class="check_box">
		<div class="col-md-9 cart-items">
			 <h1>My Shopping Bag</h1>

			<% @az.each_with_index do |post,index| %>
				<script>$(document).ready(function(c) {
					$('.close<%=index%>').on('click', function(c){
						$('.cart-header').fadeOut('slow', function(c){
							$('.cart-header').remove();
							window.location.href = "/kart/remove?id=<%=post[:uniqueid]%>"
						});
						});
					});
			   </script>
				 <div class="cart-header">
					 <div class="closex close<%=index%>"> </div>
					   <div class="cart-sec simpleCart_shelfItem">
							<div class="cart-item cyc">
								 <a href="/display/item?id=<%=post[:uniqueid]%>"><img class="img-responsive" src="<%=post[:itemimgurl]%>" /></a>
							</div>
						   <div class="cart-item-info">
							<h3><a href="#"><%=post[:name]%></a></h3>
							<ul class="qty">
								<li><p>Size : <%= post[:size] %></p></li>
								<li><p>Qty : <%= post[:quantity] %></p></li>
								<li><p>Price : <%= post[:price] %></p></li>
							</ul>
							<div class="delivery">
								 <span>Delivered in 2-3 business days</span>
								 <div class="clearfix"></div>
					        </div>
						   </div>
						   <div class="clearfix"></div>
					    </div>
				 </div>
			<% end %>
		 </div>
		 <div class="col-md-3 cart-total">
			 <div class="price-details">
				 <h3>Price Details</h3>
				 <span>Price</span>
				 <span class="total1"><%=@total_price%></span>
				 <span>Discount</span>
				 <span class="total1">00.0</span>
				 <span>Delivery Charges</span>
				 <span class="total1">50.0</span>
				 <span>Total</span>
				 <span class="total1"><%=@total_price.to_i + 50%></span>
				 <div class="clearfix"></div>
			 </div>
			 <a class="order" href="/user/paymentgateway">Place Order</a>
			 
			 <a class="order" href="/user/signout">Sign Out</a>
			</div>
	     </div>
	  </div>
   </div>
   <div class="footer">
   	 <div class="container">
   	 	<div class="newsletter" style="display:none;">
			<h3>Newsletter</h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
			<form>
			  <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
			  <input type="submit" value="SUBSCRIBE">
			</form>
		</div>
   		<div class="cssmenu">
		   <ul>
			<li class="active"><a href="#">Privacy</a></li>
			<li><a href="#">Terms & Conditions</a></li>
			<li><a href="#">Returns</a></li>
			<li><a href="#">Shop</a></li>
			<li><a href="#">About</a></li>
			<li><a href="contact.html">Contact</a></li>
		  </ul>
		</div>
		<ul class="social">
			<li><a href=""> <i class="instagram"> </i> </a></li>
			<li><a href=""><i class="fb"> </i> </a></li>
			<li><a href=""><i class="tw"> </i> </a></li>
	    </ul>
	    <div class="clearfix"></div>
	    <div class="copy">
           <p> &copy; 2017 Indigo Nation. All Rights Reserved. www.futurelifestyle.com |
	    </div>
   	</div>
   </div>
</body>
</html>
