<!DOCTYPE HTML>
<html>
<head>
<title>Watches an E-Commerce online Shopping Category Flat Bootstrap Responsive Website Template| Register :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Watches Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
</head>
<body>
	<div class="men_banner">
   	  <div class="container">
   	  	<div class="header_top">
   	  	   <div class="header_top_left">
	  	      <div class="box_11"><a href="checkout.html">
		      <h4><p>Cart: <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)</p><img src="images/bag.png" alt=""/><div class="clearfix"> </div></h4>
		      </a></div>
	          <p class="empty"><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
	          <div class="clearfix"> </div>
	       </div>
           <div class="header_top_right" style="display:none;">
		  	 <div class="lang_list">
				<select tabindex="4" class="dropdown">
					<option value="" class="label" value="">₹ INR</option>
					<option value="1">Dollar</option>
					<option value="2">Euro</option>
				</select>
			 </div>
			 <ul class="header_user_info">
			  <a class="login" href="login.html">
				<i class="user"> </i>
				<li class="user_desc">My Account</li>
			  </a>
			  <div class="clearfix"> </div>
		     </ul>

				   <script>
					 new UISearch( document.getElementById( 'sb-search' ) );
				   </script>
					<!----//search-scripts---->
		            <div class="clearfix"> </div>
			 </div>
		     <div class="clearfix"> </div>
	    </div>
   		<div class="header_bottom">
	     <div class="logo">
		    <h1><a href="/display/index"><img src="/images/indigo/logo_transparent.png">  </a></h1>
	     </div>
	    <div class="menu">
        <ul class="megamenu skyblue">

 			<li><a class="color2" href="#">Shop</a>
 				<div class="megapanel opacity_08">
 					<div class="row">
 						<div class="col1">
 							<div class="h_nav">
 								<ul>
 									<li><a href="/display/trousers">Trousers</a></li>
 									<li><a href="/display/denim">Denim</a></li>
 									<li><a href="/display/shirt">Shirts</a></li>
 									<li><a href="/display/sweatshrit">Sweatshirts & Hoodies</a></li>
 									<li><a href="/display/tshirt">T-Shirts</a></li>
 									<li><a href="/display/boxers">Boxers</a></li>
 									<li><a href="/display/shorts">Shorts</a></li>
 									<li><a href="/display/joggers">Joggers</a></li>
 								</ul>
 							</div>
 						</div>
 					  </div>
 					</div>
 			</li>

 				<li><a class="color4" href="#">Brand</a>
 				<div class="megapanel opacity_08">
 					<div class="row">
 						<div class="col1">
 							<div class="h_nav">

 								<ul>
 									<li><a href="/display/storelocation">Store Locations</a></li>
 									<li><a href="/display/contact">Contact</a></li>
 								</ul>
 							</div>
 						</div>
 					  </div>
 					</div>
 				</li>
 				<div class="clearfix"> </div>
 			</ul>
			</div>
	        <div class="clearfix"> </div>
	    </div>
	   </div>
    </div>
    <div class="account-in">
   	  <div class="container">
<form action="/user/signup" method="post" enctype="multipart/form-data">
		   <div class="register-top-grid">
			<h2>PERSONAL INFORMATION</h2>
      <div>
       <span>User ID<label>*</label></span>
       <input type="text" name="userid" required>
      </div>
			 <div>
				<span>First Name<label>*</label></span>
				<input type="text" name="firstname" required>
			 </div>

       <div>
				 <span>Address<label>*</label></span>
				 <input type="text" name="address" required>
			 </div>

       <div>
				 <span>Pincode<label>*</label></span>
				 <input type="text" name="zip" required>
			 </div>

       <div>
        <span>Phno<label>*</label></span>
        <input type="text" name="phno" required>
       </div>

       <div>
				 <span>Email Address<label>*</label></span>
				 <input type="text" name="emailid" required>
			 </div>

			 </div>
		     <div class="register-bottom-grid">
					 <div>
						<span>Password<label>*</label></span>
						<input type="password" name="pass" required>
					 </div>
					 <div class="clearfix"> </div>
			 </div>

    		<div class="clearfix"> </div>
    		<div class="register-but">
			   <input type="submit" value="submit">
			   <div class="clearfix"> </div>
		   </form>
		</div>
	   </div>
   </div>
   <div class="map" style="display:none;">
	   <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3150859.767904157!2d-96.62081048651531!3d39.536794757966845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1408111832978"> </iframe>
   </div>
   <div class="footer">
   	 <div class="container">
   	 	<div class="newsletter">
			<h3>Newsletter</h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
			<form>
			  <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
			  <input type="submit" value="SUBSCRIBE">
			</form>
		</div>
   		<div class="cssmenu">
		   <ul>
			<li class="active"><a href="#">Privacy</a></li>
			<li><a href="#">Terms</a></li>
			<li><a href="#">Shop</a></li>
			<li><a href="#">About</a></li>
			<li><a href="contact.html">Contact</a></li>
		  </ul>
		</div>
		<ul class="social">
			<li><a href=""> <i class="instagram"> </i> </a></li>
			<li><a href=""><i class="fb"> </i> </a></li>
			<li><a href=""><i class="tw"> </i> </a></li>
	    </ul>
	    <div class="clearfix"></div>
	    <div class="copy">
           <p> &copy; 2017 Indigo Nation. All Rights Reserved. www.futurelifestylefashions.com </p>
	    </div>
   	</div>
   </div>
</body>
</html>
