<!DOCTYPE html>
<html>
  <head>
    <title>Indigo Nation</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag "jquery-1.11.1.min"%>
    <%= javascript_include_tag "megamenu"%>
    <%= javascript_include_tag "jquery.easydropdown"%>
    <%= javascript_include_tag "simpleCart.min"%>
    <%= javascript_include_tag "classie1"%>
    <%= javascript_include_tag "uisearch"%>



    <%= stylesheet_link_tag  "bootstrap" %>
    <%= stylesheet_link_tag  "style" %>
    <%= stylesheet_link_tag  "megamenu" %>

    <link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Dorsa' rel='stylesheet' type='text/css'>



  </head>

  <body>
    <%= yield %>
  </body>
</html>
